@media (min-width:768px) {#banderole{width:100%}}
@media (min-width:768px) {#ini{margin-left:160px}}
@media (min-width:768px) {#banderole h1{padding-left:270px}}
@media (min-width:768px) {#banderole h3{padding-left:270px}}
@media (min-width:768px) {#banderole h4{padding-left:270px}}
@media (min-width:768px) {#banderole{font-size:20px}}
@media (min-width:768px) {#sommaire{font-size:12px}}
@media (min-width:768px) {#sommaire{max-width:630px}}
@media (min-width:768px) {#tlogo{font-size:17px} }
@media (min-width:768px) {#tlogo{margin-right:250px} }

@media (min-width:1024px) {#ini{margin-left:0px}}
@media (min-width:1024px) {#sommaire{max-width:300px}}
@media (min-width:1024px) {#banderole h1{padding-left:120px}}
@media (min-width:1024px) {#banderole h3{padding-left:120px}}
@media (min-width:1024px) {#banderole h4{padding-left:120px}}
@media (min-width:1024px) {#tlogo{margin-right:300px} }
@media (min-width:1024px) {#banderole{width:314px}}

@media (min-width:1440px) {#tlogo{margin-right:700px} }
@media (min-width:1440px) {#sommaire{margin-left:200px}}
@media (min-width:1440px) {#banderole{margin-right:100px}}
@media (min-width:1440px) {#sommaire{max-width:400px}}

@media (min-width:1920px) {#tlogo{margin-right:1190px}}

body {margin:0px;
	margin-left:150px;
	margin-right:150px;
		background-color:white;}		

nav a{	
		font-size:16px;
		color:#bf0311;
		line-height:3em;
		text-decoration:none;
		background-color:#d9d9d9;
		padding:10px;
		border:1px black solid;
		box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
		inset -2px -2px 3px rgba(0, 0, 0, .6);}

nav a:active{   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
				inset 2px 2px 3px rgba(0, 0, 0, .6);}

nav button{	
			color:#bf0311;
			font-size:15px;
			line-height:1.2em;
			text-decoration:none;
			background-color:#d9d9d9;
			padding:10px;
			border:1px black solid;
			box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
			inset -2px -2px 3px rgba(0, 0, 0, .6);}

nav button:active{   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
						inset 2px 2px 3px rgba(0, 0, 0, .6);}

nav button #save {position:absolute;}						

input{	font-family:New Century Schoolbook, TeX Gyre Schola, serif;
		font-size:17px;
		margin-top:4px;
		margin-left: 60px;
		line-height:1em;
		position:absolute;
		color:#bf0311;
		text-decoration:none;
		background-color:#d9d9d9;
		padding:10px;
		border:1px black solid;
		box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
		inset -2px -2px 3px rgba(0, 0, 0, .6);}

input:active{   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
				inset 2px 2px 3px rgba(0, 0, 0, .6);}	
	

#content{font-family:sans-serif;
		background-color:#d9d9d9;}

#content2{margin-left:20px;}		

#border{background-color:white;
border-bottom:1px solid #bf0311;}

#logo {	margin-left:50px; 
		width:150px;
	    height:150px;
	 	border-radius: 50%;}

#tlogo{ font-family: Georgia, serif;
		margin-top:20px;
		float:right;}

#presentation{margin-top:40px;
}

#titre {font-family:New Century Schoolbook, TeX Gyre Schola, serif;
				font-style:italic;
				margin-right:20px;
				font-size:30px;
				padding-bottom:30px;
				text-align:center;
				border-bottom:1px solid #bf0311;
				margin-bottom:10px;}

#sommaire{
		  border:1px solid black;}

#banderole {margin-top:10px;
			padding:5px;
			border:1px solid black;
			float:right;}

#ini {	background-color:white;
		border:1px solid black;
		width:300px;}			

#banderole h1 { font-size:20px;
				font-style:italic;
				font-family:New Century Schoolbook, TeX Gyre Schola, serif;
				padding-top:10px;
				padding-bottom:10px;
				background-color:white;
				border:1px solid black;}				

#banderole h3 { padding-top:10px;
				padding-bottom:10px;
				background-color:white; 
				border:1px solid black;}				

#banderole h4 { padding-top:10px;
				padding-bottom:10px.
				background-color:white; 
				border:1px solid black;}			

#equipes{max-width:1430px;}		

#anime {max-width:1400px;}

#save {}